/* 

.all_content {
  width: 350px;
}


button.btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  background: #1a73e8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  border: none;
}

button:hover.btn {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

button:active.btn {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}



td,
th {
  border: 1px solid #ddd;
  padding: 4px;
}

tr.table_row {
  cursor: pointer;
}

tr:nth-child(even).table_row {
  background-color: #f2f2f2;
}

tr:hover.table_row {
  background-color: white;
}

th.table_head {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: lightgray;
  color: black;
}

.matches_text {
  margin-top: 10px;
  font-weight: 500;
} */

.container {
  font-size: 12px;
  background-color: white;
  width: 500px;
}

.content {
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
}

input.form-control.search-box {
  width: 300px;
}

div.search_results {
  max-height: 50vw;
  overflow-y: scroll;
}

/* button.btn.btn-warning.button-cancel {
  margin-left: -40px;
} */
