.container {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
  width: 500px;
  margin: 76px auto 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px -24px #b3b3b3;
  padding: 16px;
}

.content {
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
  border: 1px solid grey;
}

.all_content {
  width: 350px;
}

input[type="text"].searchbox {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

button.btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30px;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  background: #1a73e8;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  border: none;
}

button:hover.btn {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

button:active.btn {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

table.search_results {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgb(179, 179, 179) 0px 10px 30px -24px;
  border-radius: 5px;
  padding: 16px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 4px;
}

tr.table_row {
  cursor: pointer;
}

tr:nth-child(even).table_row {
  background-color: #f2f2f2;
}

tr:hover.table_row {
  background-color: white;
}

th.table_head {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: lightgray;
  color: black;
}

.matches_text {
  margin-top: 10px;
  font-weight: 500;
}
